
.heroContainer{
position: absolute;
top: 10vh;
width: 100%;
left: 0;
font-size: 18vmin;
color: white;
font-family: var(--poppins);
font-weight: 700;
}

.subText {
    display: flex;
}

.mainText,
.subText {
    width: 85%;

}

.mainText {
    z-index: 10000;
    position: absolute;
    left: 15%;
    top: 20vh;
}

.mainText .subText .date {

    font-family: var(--poppins);
    font-size: 18vmin;
    margin: 0;

    color: rgba(236, 0, 51, 1);
    text-shadow: -1vmin -1vmin 0 rgba(255, 255, 255, 1);
}

.subText span {
    margin-top: 0px;
    margin-left: 2%;
}

.cyber p{
    color: white;
    font-size: 130px;
    text-shadow: 1px 1px rgba(255, 0, 0, 0.5)
    , -1px -1px rgba(255, 0, 0, 0.5)
    ;
}
@supports(-webkit-text-stroke: 1px rgba(255, 0, 0, 0.5)
){
    .cyber p{
        color: transparent;
        -webkit-text-stroke: 0.1vw rgba(255, 0, 0, 0.5);

        text-shadow: none;
    }
}

.cyber {
    position: absolute;
    top: 5vh;
    width: fit-content;
    z-index: 1;
    width: 80%;
    left: 10%;
}

.conference {
    position: absolute;
    top: 60vh;
    width: fit-content;
    z-index: 1;
    width: 80%;
    left: 10%;
}

.cardCont {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: fit-content;
    padding: 10px 20px;
    border: solid 1px white;
    border-radius: 20px;
    font-size: 24px;
    margin: 0 10px;

}

.cards {
    position: absolute;
    top: 78vh;
    width: fit-content;
    z-index: 2;
    width: 80%;
    left: 10%;
}
.fakeContainer{
    height: 100vh;
    width: 100%;
    background-color: transparent;
    z-index: 10;

}

@media screen  and  (min-width:320px) and (max-width: 480px){}
@media screen  and  (min-width:481px) and (max-width: 768px){}
@media screen  and  (min-width:769px) and (max-width: 1024px){
    
}
@media screen  and  (min-width:1025px) and (max-width: 1200px){
    
}
    
@media screen  and  (min-width:1201px) {
    
}