.footer-bg-text-container {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.footer-bg-text-container p {
  color: white;
  font-size: 30vmin;
  font-weight: 600;
  text-shadow:
    1px 1px #ffffff26,
    -1px -1px #ffffff26;
}

@supports (-webkit-text-stroke: 1px #ffffff26) {
  .footer-bg-text-container p {
    -webkit-text-stroke: 0.1vw #ffffff26;
    color: transparent;
    text-shadow: none;
  }
}
