.heroContainer {
  display: grid;
  grid-template-columns: 10% 10% repeat(4, 20%);

  grid-template-rows: repeat(9, 1fr);
  /* grid-template-columns: repeat(10,1fr); */
  margin-top: 4vh;
  width: 100%;
  height: 100vh;

  color: white;
  font-family: var(--poppins);
  font-weight: 700;
}

.subText {
  display: flex;
  flex-wrap: wrap;
  line-height: 98%;
  margin-top: 24px;
}

.cyber {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 7;
  z-index: 0;
  width: 100%;
}

.mainText {
  grid-row-start: 3;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 7;
  z-index: 10;
  line-height: 98%;
}

.conference {
  grid-row-start: 6;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 7;

  z-index: 0;
  width: 100%;
}

.mainText,
.subText {
  width: 85%;
  font-size: 14vmin;
}

/* .mainText {
    z-index: 10000;
    position: absolute;
    left: 15%;
    top: 20vh;
} */

.mainText .subText .date {
  font-family: var(--poppins);
  font-size: 14vmin;
  margin: 0;

  color: rgba(236, 0, 51, 1);
  text-shadow: -1vmin -1vmin 0 rgba(255, 255, 255, 1);
  min-width: fit-content;
}

.subText span {
  margin-top: 0px;
  margin-left: 2%;
}

.cyber p {
  color: white;
  font-size: 35vmin;
  font-weight: 600;
  /* font-size: 130px; */
  text-shadow:
    1px 1px rgba(255, 0, 0, 0.5),
    -1px -1px rgba(255, 0, 0, 0.5);
}

@supports (-webkit-text-stroke: 1px rgba(255, 0, 0, 0.5)) {
  .cyber p {
    color: transparent;
    -webkit-text-stroke: 0.1vw rgba(255, 0, 0, 0.5);

    text-shadow: none;
  }
}

.cardCont {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: fit-content;
  padding: 10px 20px;
  border: solid 1px white;
  border-radius: 20px;
  font-size: 24px;
  margin: 0 10px;
}

.cards {
  /* position: absolute;
    top: 78vh;
    width: fit-content;
    z-index: 2;
    width: 80%;
    left: 10%; */
  grid-row-start: 8;
  grid-row-end: 9;
  /* margin-top: 1vh; */
  grid-column-start: 1;
  grid-column-end: 7;
  width: 100%;
  z-index: 10;
}

@media screen and (max-width: 920px) {
  .heroContainer {
    margin-top: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

@media screen and (min-width: 1201px) {
}
