.navContainer{
    position: fixed;
    top: 20px;
    padding-right: 20px;
    width: 70%;
    height: 90px;
    margin-left: 18%;
    padding-top: 5px;
    background: rgba(182, 182, 182, 0.50);
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    font-family: var(--poppins);
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.navContainer img{
    margin-left: 10px;
}
.navcon{
    display: flex;
    cursor: pointer;
}
.getTicket{
   background: rgba(97, 4, 215, 1);
    height: 60px;
    width: fit-content;
    padding: 15px;
    border-radius: 25px;
}